
<h1>New Trade</h1>
<% # , param:request.query_parameters %>
<label>Incolla qui il link di compilazione veloce, poi Incolla il percorso dell'immagine (lo avrai gia pronto dopo il primo INCOLLA)</label>
<input id="copiaVeloce" type="text">
<br><br>
<%= render 'form', trade: @trade %>

<%= link_to 'Back', trades_path %>


<script type="text/javascript">
  function getAllUrlParams(url) {

    // get query string from url (optional) or window
    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

    // we'll store the parameters here
    var obj = {};

    // if query string exists
    if (queryString) {

      // stuff after # is not part of query string, so get rid of it
      queryString = queryString.split('#')[0];

      // split our query string into its component parts
      var arr = queryString.split('&');

      for (var i = 0; i < arr.length; i++) {
        // separate the keys and the values
        var a = arr[i].split('=');

        // set parameter name and value (use 'true' if empty)
        var paramName = a[0];
        var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

        // (optional) keep case consistent
        paramName = paramName.toLowerCase();
        if (typeof paramValue === 'string') paramValue = paramValue.replace("%20"," ");

        // if the paramName ends with square brackets, e.g. colors[] or colors[2]
        if (paramName.match(/\[(\d+)?\]$/)) {

          // create key if it doesn't exist
          var key = paramName.replace(/\[(\d+)?\]/, '');
          if (!obj[key]) obj[key] = [];

          // if it's an indexed array e.g. colors[2]
          if (paramName.match(/\[\d+\]$/)) {
            // get the index value and add the entry at the appropriate position
            var index = /\[(\d+)\]/.exec(paramName)[1];
            obj[key][index] = paramValue;
          } else {
            // otherwise add the value to the end of the array
            obj[key].push(paramValue);
          }
        } else {
          // we're dealing with a string
          if (!obj[paramName]) {
            // if it doesn't exist, create property
            obj[paramName] = paramValue;
          } else if (obj[paramName] && typeof obj[paramName] === 'string'){
            // if property does exist and it's a string, convert it to an array
            obj[paramName] = [obj[paramName]];
            obj[paramName].push(paramValue);
          } else {
            // otherwise add the property
            obj[paramName].push(paramValue);
          }
        }
      }
    }

    return obj;
  }


  document.getElementById("copiaVeloce").addEventListener("paste", azionaCopiaVeloce);
  function azionaCopiaVeloce(e){
    var clipboardData;
    // Stop data actually being pasted into div
    e.stopPropagation();
    e.preventDefault();

    // Get pasted data via clipboard API
    clipboardData = e.clipboardData || window.clipboardData;
    this.value = clipboardData.getData('Text');
    console.log("hai copiato li link completo: "+this.value);
    var params = getAllUrlParams(this.value);
    console.log(param);
    for(var param in params) {
      if(document.getElementById("trade_"+param)) {
        console.log("paramento: "+param+"=>"+params[param]);
        if(param == "buy")
          document.getElementById("trade_"+param).checked = params[param]=="true";
        else if(param != "screen")
          document.getElementById("trade_"+param).value = params[param];
      } else {
        console.log("paramento sconosciuto: "+param+"=>"+params[param]);
      }
    }
    // ricopio solo il path del file
    if(params["screen"]) {
      if(this.value.indexOf(params["screen"]) <=0)
        console.log("ERR! nel copiare il ");
      else {
        this.setSelectionRange(this.value.indexOf(params["screen"]), -1);//this.value.lastIndexOf("\\"));
        document.execCommand("copy");
        this.style.backgroundColor='#44FF44';
      }
    }
  }

  // controllo la clip e vedo se ci sono gia appunti copiati
  // var clip = window.clipboardData.getData('Text');
  // if(clip && clip.length>0 && clip.charAt(0)=="?")
  //   azionaCopiaVeloce();

</script>
